/* body{
    display: grid;
   grid-template-columns: 1% 99%; 
   

    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden; 
    background-color: aqua; 
 }
 .asideNav{
     background-color: rgb(2, 2, 39);
     display: flex;
     background-color: aqua;
     flex-direction: column;
     height:100vh;
     align-items: flex-start;
     padding-left: 15px;
     justify-content: center;
     margin-top: -20px;
     margin-left: -10px;
     overflow: hidden;
     width: 1%;
     padding-right: 30px;
     gap: 20px;
    
 }
 .asideNav{
    background-color:rgb(2, 2, 39) ;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    height: 101vh;
    align-items: flex-start;
    padding-left: 15px;
    justify-content: center;
    margin-top: -20px;
    margin-left: -10px;
    overflow: hidden;
    width:1%;
    padding-right: 30px;
    gap: 20px;
    border-radius: 80px 80px 0px 80px;
   
}
.asideNav img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.asideNav span{
    color: rgb(2, 2, 39);
}
 a{
     text-decoration: none;
     color: aliceblue;
     font-size: 15px;
     font-weight: 600;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .asideNav img{
     width: 40px;
     height: 40px;
     margin-right: 20px;
 }
 .main{
     position: relative;
     background-color: rgb(253, 253, 217);
     width: 99%;
     border-radius: 50px  0 0 50px;
    
 }
 .main .nav{
     height: 50px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     background-color: transparent;
     padding: 0 50px;
     color: rgb(2, 2, 39);
     
 }
.main .nav a{
     color: rgb(2, 2, 39);
 }
 .ac{
     width: 900px;
 }
 .nav ul{
     list-style: none;
     display: flex;
     flex-direction: row;
     gap: 30px;
 }
 .main .nav.block{
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
 }
 .search{
     background-color: transparent;
     border-radius: 20px;
     height: 35px;
     padding-left:10px ;
     border: 1.5px solid rgba(2, 2, 39, 0.438);
 }
 .block i{
    font-size: 20px;
 }
 
 .active{
     left: 280px;
 }

  */
 
  .asideNav{
    background-color:rgb(2, 2, 39) ;
    display: flex;
    flex-direction: column;
    height: 102vh;
    align-items: flex-start;
    padding-left: 15px;
    justify-content: center;
    margin-top: -17px;
    margin-left: -10px;
    overflow: hidden;
    width:200px;
    padding-right: 30px;
    gap: 20px;
   
}
body{
    overflow-y: hidden;
    overflow-x: hidden;}
.main{
    height: 100%;
}
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.asideNav img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.asideNav span{
    color: rgb(2, 2, 39);
}

.main{
    position: relative;
    background-color: transparent;
    width: 100%;
    left: 70px;
    margin: -10px;
    background-color: rgb(253, 253, 217);
    border-radius: 0  0px 0px 0px;
    transform: translateY(-742px);
    overflow-y: hidden;
    height: 102vh;
    border-radius: 40px 0 0 40px;
}
.nav{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    /* padding: 0 50px; */
    z-index: 10;
    color: rgb(2, 2, 39);
    margin-right: 10px;
}
.nav-transparent{
    background-color: transparent;
}
.nav-colored{
    background-color: white;
}
.nav a{
    color: rgb(2, 2, 39);
}
.ac{
    width: 900px;
    
}
.ac2{
    color: white;
}

.nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.block{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.search{
    background-color: transparent;
    border-radius: 20px;
    height: 35px;
    padding-left:10px ;
    border: 1.5px solid rgba(2, 2, 39, 0.438);
}
.block i{
   font-size: 20px;
}

.active{
    left: 280px;
}
.home{
   
    background-color: rgb(127, 240, 255);
}
.stat{
   
    background-color: brown;
}

