<a href=" {{url('home')}}" style="text-decoration: none;"><img src="assets\images\icons8-page-d’accueil-32.png"  alt=""><span id="asideNav_span1" >Accueil</span></a>
<a href=" collapsible" style="text-decoration: none;"><img src="assets\images\icons8-télécharger-le-rapport-de-graphique-24.png" alt=""><span id="asideNav_span2" >Formation universitaire</span></a>
<a href=" {{url('mainFS')}}" style="text-decoration: none;"><img src="assets\images\icons8-e-learning-48.png" alt=""><span id="asideNav_span3" >Formation supplimentaire</span></a>
 <a href=" {{url('c_home')}}" style="text-decoration: none;"><img src="assets\images\icons8-evénement-accepté-24.png" alt=""> <span id="asideNav_span4" >Nouveautés des clubs</span></a>
