{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href={{asset("assets/css/collaps.css")}}>
    <link rel="stylesheet" href={{asset("assets/css/style.css")}}>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/450c9bb9e7.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&display=swap" rel="stylesheet">

<style>
   .main2 h3{
        color: rgb(2, 2, 39);
        font-weight: 600;
   }
   .mat{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        margin-top: 35px;
        
   }
   .mat div{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
   }
   .mat div a{
        height: 85px;
        width: 70%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(100, 148, 237, 0.30);
        border-radius: 20px;
        text-decoration: none;
        color:cornflowerblue;
        font-weight: 800;
        font-size: 1.3rem;
   }
</style>
 {% endblock %}
 {% block body %}
   <body>
    
         <div class="asideNav" id="asideNav" onmouseenter="f1()" onmouseleave="f2()">
            
            {% include "aside.html.twig" %}
        </div>
        <div class="main" id="main">
                       {% include "navii.html.twig" %}
                    <div class="main2">
                       <div>
                       <h3>Liste des matiéres</h3>
                        <div class="mat">
                                {% for matiere in matieres %}
                                        <div><a href="{{ url('courstd',{"anesem":matiere.ansem,"nom":matiere.nom}) }}">{{matiere.nom}}</a></div>
                                {% endfor %}
                                </div>
                        </div>
                        </div>

                        
                </div>
                    </div>
                </div>
    </body>

    <script>
        const main=document.getElementById("main");
        const nav=document.getElementById("nav");
        const asideNav_span1=document.getElementById("asideNav_span1");
        const asideNav_span2=document.getElementById("asideNav_span2");
        const asideNav_span3=document.getElementById("asideNav_span3");
        const asideNav_span4=document.getElementById("asideNav_span4");

       function f1(){
        console.log('hi');
        main.classList.add("active");
        nav.classList.add('ac')
        asideNav.classList.add('ac')
        asideNav_span1.style.color="white"
        asideNav_span2.style.color="white"
        asideNav_span3.style.color="white"
        asideNav_span4.style.color="white"

        
       }
       function f2(){
        console.log('bye');
        main.classList.remove("active");
        nav.classList.remove('ac')

       }
       
       
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
{% endblock %}

